/* Styles for the habitation form container */
.habit-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px; /* Reduced for less vertical spacing */
}

/* Styling for form groups with two inputs side by side */
.habit-container .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px; /* Reduced margin to decrease vertical space */
}

/* Styles for individual input containers to manage spacing */
.habit-container .input-group div {
    flex: 1;
    margin-right: 10px;
}

.habit-container .input-group div:last-child {
    margin-right: 0;
}

/* Input and label styling */
.habit-container input[type="text"],
.habit-container input[type="date"],
.habit-container input[type="number"],
.habit-container select {
    width: 100%;
    padding: 8px; /* Reduced padding to decrease height */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.habit-container label {
    display: block;
    margin-bottom: 5px;
}

/* Button styling */
.habit-container button[type="submit"] {
    background: rgba(255, 255, 255, 0.5);
    color: #ff4b2b;
    padding: 8px 18px; /* Slightly smaller padding */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    align-self: center;
    transition: background-color 0.3s;
}

.habit-container button[type="submit"]:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    color: white;
}

/* Message styling */
.message {
    margin-top: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

/* Styles for the form group */
.form-group {
    width: 100%;
    margin-bottom: 10px;
}
